html, body, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

p {
  font-family: Arial, Helvetica, sans-serif !important;
}

h3 {
  font-family: Arial, Helvetica, sans-serif !important;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #E9F8F9;
  /* background-image: url('../assets/brandi-redd-aJTiW00qqtI-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.main-body {
  flex: 1;
  box-sizing: border-box;
  color: #333;
}

.main-c {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 0%;
  padding-right: 0%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom:0px;
  text-align: center;
}

.main-cent {
  margin-top: 40vh;
  text-align: center;
}

.content {
  flex: 1;
}

.main-b {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.update-user {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

nav {
  position: fixed;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  display: flex;
  background-color: #537FE7;
  height: 4px;
  padding: 20px;
  z-index: 1000;
}

.logo,
.nav-links {
  text-align: left;
  list-style: none;
  display:inline-flex;
}

.logo a,
.nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links li {
  margin-right: 20px;
  margin-left: 20px;
 }

.logo {
  margin-right: auto;
  padding-left: 0%;
  margin-left: 0%;
}

.footer {
  background-color: gray;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 0;
  flex-shrink: 0;
  margin-top: auto;
}

.footer > p {
  margin: 0;
  text-align: center;
  margin-top: auto;
}

section {
  border-radius: 9px;
  margin: 30px;
  background-color: #C0EEF2;
}

.home-user-section {
  width:auto;
}

section p {
  padding: 10px;
}

section h2 {
  color: #21209C;
  font-weight: bold;
  padding-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

.user-actions > ul {
  display: flex;
  list-style: none;
  padding: 20px;
}

.icon-line,
.day-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-item{
  margin-right: 8px;
  margin-left: 10px;
}
.day-item {
  margin: 5px;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

ul.item-list {
  list-style:none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.wel-sections{
  list-style:none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.wel-sections section {
  min-width: 40%;
  max-width: 45%;
}

.user-lis{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.user-section {
  width:40%;
  margin: 20px;
}

li.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
  border: 1px solid #537FE7;
  border-radius: 5px;
  background: #C0EEF2;
  min-width: 30%;
}

.item strong {
  margin-right: 10px;
}

.item p {
  text-align: center;
}

.item button {
  max-width: 60px !important;
  align-items: flex-end !important;
}

button.button {
  margin: 0 auto;
  padding: 10px;
  background: #21209C;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: 181.6px;
  font-family: Arial, Helvetica, sans-serif !important;
}

.user-buttons {
  display: flex;
  gap: 10px;
}

.link {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #21209C  ;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif !important;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif !important;
}

h1 {
  color: #21209C;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif !important;
}

.progress-bar {
  appearance: none;
  width: 260px;
  height: 10px;
  border-radius: 4px;
  overflow:visible;
}

.progress-bar::-webkit-progress-bar {
  background-color: white;
  border-radius: 4px;
}

.progress-bar::-webkit-progress-value {
  background-color: #21209C;
  border-radius: 4px;
}

.radio-input :checked {
  background-color: #21209C;
  border-color: #21209C;
}

.radio-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hr-style {
  background-color: #537FE7;
  height: 5px;
  width:100%;
}

@media screen and (max-width: 500px) {
  .nav-links li {
    margin-left: 0px !important;
  }  
  .wel-sections section {
    max-width: 100% !important;
    min-width: none !important;
    width: 85% !important;
    margin-bottom: auto !important;
  }
}

footer p {
  color: black;
}