form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  border: none;
  display: block;
  width: 100%; 
  margin-bottom: 10px;
  max-width: fit-content;
}

.sign > footer {
  position: fixed !important;
}

@media screen and (max-height: 450px) {
  button, label, input {
    margin-bottom: 2px !important;
  }  
  .main-body{
    padding-top: 0 !important ;
    padding-bottom: 0 !important;
  }
  
  .div {
    padding: 0px !important;
  }

  .signUp {
    font-size: 30px !important;
  }
}